*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Courrier
}

header{
	width: 100%;
	height: 100vh;
	background-image: url("image");
	background-color: #eec4ff;
	background-position: center;
	background-size: cover;
}

td {
	font-size: 20px;
}
