*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Courrier
}

header{
	width: 100%;
	height: 100vh;
	background-image: url("image");
	background-color: #eec4ff;
	background-position: center;
	background-size: cover;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}